.App {
  text-align: center;
}
*{
  text-decoration: none;
}
::-webkit-scrollbar {
  background:#454545;
  width: 9px;
  }
body{
  background-color: #121214;
  background-image: url("./imgs/coder.svg"), url("./imgs/dino.svg") ,url("./imgs/codes.svg") url("./imgs/coding.svg") url("./imgs/fillStar.svg") url("./imgs/jsback.svg") url("./imgs/laptop.svg") url("./imgs/youtube.svg") url("./imgs/paintbrush.svg") url("./imgs/lineBreak.svg") url("./imgs/html.svg");
  background-repeat: no-repeat, repeat-x;
  background-position: top right, center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
